name: Create project archive

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests and generate JUnit report
        run: |
         python -m zipfile -c build.zip main.py utils.py tests


      - name: Upload project archive
        uses: actions/upload-artifact@v4
        with:
          name: project-zip
          path: build.zip